<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAAFJkw_NAKxryxbBg3buU2DcaBV4QPJU</string>
	<key>GCM_SENDER_ID</key>
	<string>339966306380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handichatcraftW1986581</string>
	<key>PROJECT_ID</key>
	<string>signin-signup-4c0e6</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-signup-4c0e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339966306380:ios:4badb096238cce3d272ce9</string>
</dict>
</plist>